/*{border: 1px solid red;}*/

html , body {height:100%;
			margin: 0;
			}

body{

}
	/*Wraps - Hands and Field Wrap */

.wrap2 {
	
	max-height:50%;
	display: block;
	background-color: #19D7F7;
	padding-top: 15px;
 }
 .wrap2 p {
 	padding-left: 50%;
 	padding-right: :50%;
 	margin-top: 5px;
 	margin-bottom: 5px;
 }

.cardwrap, #field1, #field2{
	margin-right: 5%;
	margin-left: 5%;
	display:block;
}
 .p1hand, .p2hand, .p1field, .p2field {
 	background-size: 100%;
 	background-color: #12f34f;
 	max-width: 40%;
 	min-width: 10%;
 	max-height: inherit;
 	min-height: 12%;
 	display: inline-block;
 }

 #picard1, #picard2 {
 	display: inline-block;
 	padding-top: 8px;
 	float:right;

 }

  #field1button, #field2button{
 	display: inline-block;
 	padding-top: 8px;
 	float:left;

 }

 .float{
 	display: inline-block;
 	float:center;
 	top: 15px;

 }

 #floatbuttons {
 	top:15px;
 }